.modal-inf {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 94%;
  height: auto;
  margin-left: 3%;
  border-radius: 8px;
  background-color: rgba(43, 96, 91, 0.8);
  z-index: 1000000;
}

.modal-inf p {
  color: white;
  text-align: center;
  margin: .4rem 0;
}

google-map {
  position: absolute;
  top: 0px;
  width: 100vh;
  height: 100vh;
}

ion-fab-button {
  margin-bottom: 60px !important;
}

.fab-list {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}
.infoWindow {
  height: 80px;
  color: black;
}


.modal-alias {
  position: fixed;
  top: 8px;
  left: 0px;
  width: 70%;
  height: auto;
  margin-left: 15%;
  border-radius: 50px;
  background-color: rgba(67, 75, 74, 0.9);
  z-index: 1000000;
  p {
      font-size: 1.2rem;
      margin: .6rem;
      color: #ffffff !important;
  }
}
.btn-close {
  margin-top: 50px;
}
.btn-nav, .btn-navegar {
  transform: translateY(150px);
}
