<ion-tabs (ionTabsDidChange)="ionTabsDidChange($event)">
  <ion-tab-bar slot="bottom" translucent="true" class="transparent-tab-bar">
      <ion-tab-button tab="barrios">
          <ion-icon class="ion-oscuro" name="extension-puzzle-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="listas">
          <ion-icon class="ion-oscuro" name="list-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="search">
          <ion-icon class="ion-oscuro" name="map-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="incidencias">
          <ion-icon class="ion-oscuro" name="warning-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="soporte">
          <ion-icon class="ion-oscuro" name="cog-outline"></ion-icon>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
